body{
    font-family: 'Press Start 2P', cursive;
    background-position:center right;
    background-repeat: no-repeat;
    background-image: url("./img/image1.png");
}
.container{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container p{
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-align: center;
    overflow: hidden;
    padding: 0.5rem;
    margin-top: 2px;
}
.typed-text{
    font-weight: normal;
    color: rgb(216, 213, 17);
}
.cursor{
    display: inline-block;
    width: 3px;
    background-color: cornflowerblue;
    margin-left: 00.1rem;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {background-color: cornflowerblue;}
    50% {background-color: transparent;}
    100% {background-color:cornflowerblue;}
}

.name p{
    margin-top: 50px;
    text-align: center;
    font-size: 50px;
}
